{% extends "blog/base.html" %}
{% block content %}
    <h1 class="mb-3">ТОП пользователей:</h1>
    <ul class="list-group">
        {% for user in top_users %}
        {% if user.post_count > 0 %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <a href="{% url 'user-posts' user.user.username %}">{{ user.user.username }}</a>
                </div>
                {% if user.post_count|divisibleby:10 and user.post_count|divisibleby:100 %}
                    <span class="badge badge-primary badge-pill">{{ user.post_count }} постов</span>
                {% else %}
                    {% if user.post_count|divisibleby:10 or user.post_count|divisibleby:100 %}
                        <span class="badge badge-primary badge-pill">{{ user.post_count }} постов</span>
                    {% elif user.post_count == 1 %}
                        <span class="badge badge-primary badge-pill">{{ user.post_count }} пост</span>
                    {% elif user.post_count >= 2 and user.post_count <= 4 %}
                        <span class="badge badge-primary badge-pill">{{ user.post_count }} поста</span>
                    {% else %}
                        <span class="badge badge-primary badge-pill">{{ user.post_count }} постов</span>
                    {% endif %}
                {% endif %}
            </li>
        {% endif %}
        {% endfor %}
    </ul>
{% endblock content %}
